@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}
body {
margin: 0px;
padding: 0px;
background: rgb(0,0,0);
}